<div class="site-header">
  <div class="header-inner">
    <a class="brand" data-href="/dreamhub/">
      <span class="logo">🚀</span>
      <span>DreamHub</span>
    </a>

    <nav class="nav">
      <a data-href="/dreamhub/education/">Education</a>
      <a data-href="/dreamhub/apps.html">Apps</a>
      <a data-href="/dreamhub/blog/">Blog</a>
      <a data-href="/dreamhub/kitchen-recipes/">Kitchen Recipes</a>
      <a data-href="/dreamhub/about/">About</a>
      <a data-href="/dreamhub/contact/">Contact</a>
    </nav>
  </div>
</div>
